[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
slack-sdk = "*"
firebase-admin = "*"
geopy = "*"
python-dotenv = "*"
jpholiday = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.7"
